html,
body {
    height: 100%;
    margin: 0;
    font-size: 1.4em;
}

#container {
    display: flex;
    flex-direction: row;
    margin: 100px;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
}

.user_input {
    padding-bottom: 20px;
}

#user_form {
    padding-bottom: 50px;
}

.user_color_input {
    margin: auto;
    width: 100%;
    padding: 12px 0px;
}

.colorpicker {
    float: right;
    margin-left: 30px;
    width: 10vh;
    height: 3vh;
}

#height_holder {
    float: right;
    width: 10vh;
    height: 3vh;
}

#height {
    padding: 12px 0px;
}

#weight {
    padding: 12px 0px;
}

#width_holder {
    float: right;
    width: 10vh;
    height: 3vh;
}