<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PaintApp</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

    <div id="container">

        <div class="user_input">
            <form action="http://localhost:3000/" id="user_form" method="POST" name="initial_wh_input">
                <div id="height">
                    <label> Height: </label>
                    <input type="number" id="height_holder" placeholder="height" required name="height" min="1" max="30">
                </div>
                <div id="width">
                    <label>Width: </label>
                    <input type="number" id="width_holder" placeholder="width" required name="width" min="1" max="60">
                </div>

                <div class="user_color_input">
                    Color 1: <input class="colorpicker" type="color" id="color1" name="color1" value='#448c62'>
                </div>
                <div class="user_color_input">
                    Color 2: <input class="colorpicker" type="color" id="color2" name="color2" value='#e9ff00'>
                </div>
                <div class="user_color_input">
                    Color 3: <input class="colorpicker" type="color" id="color3" name="color3" value='#cbe4cb'>
                </div>
                <button type="submit" id="submit_button" class="btn btn-primary">Send to backend</button>
            </form>
            <div class="user_color_input">
                Choose flood color: <input type="color" class="colorpicker" id="new_color">
            </div>
        </div>
        <canvas id="my_canvas" width="<%= matrix.width * 30 %>" height="<%= matrix.height * 30 %>" style="border:1px solid #000000">
            Your browser does not support the HTML5 canvas tag.
        </canvas>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
        // Exposing template parameter to external JS script
        const matrixObj = JSON.parse('<%- JSON.stringify(matrix) %>');
    </script>
    <script src="/javascript/flood-fill-front.js"> </script>
        
</body>

</html>